= render partial: 'shared/menu'

%h2 Your Stats

- user_stats.each do |row|
  %div.stats-row
    = link_to row.date.strftime('%d.%m.%Y'), routes.root_path(date: row.date.strftime('%Y-%m-%d')), title: "Stats for #{row.date.strftime('%d.%m.%Y')}"
    %span.tag.is-info{ style: "width: #{row.minutes}px;"}= hours_minutes(row.minutes)
