.container {
  max-width: 800px;
  margin-top: 50px;
}
.greeting {
  margin-bottom: 10px;
}
.content {
  border: 1px solid black;
  padding: 50px;
  // background-color: #DEF8F5;
}
.red-text {
  color: #ff3860;
}

.tag.time-entry {
  border-radius: 0;
  margin-bottom: 5px;
}

#time_entry-form {
  margin-bottom: 10px;
}
.stats-row {
  margin-bottom: 10px;
}
.stats-row a {
  padding-right: 10px;
}

