.tabs
  %ul.is-marginless
    %li= link_to 'Yesterday', routes.root_path(date: Date.today.prev_day)
    %li= link_to 'Today', routes.root_path
    %li= link_to 'Stats', '#'

-# date.strftime('%d.%m.%Y')
-# %span.tag